<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <title>API Getter</title>
</head>
<body>
    <div id="content">
        <form id="api-form">
            <input name="api-url" placeholder="Enter your url here (https://)" value="{{ request.form['api-url'] }}"></input>
            <button id="submit-button">Fetch!</button>
        </form>
        <p id="response">Nothing yet...</p>
    </div>

    <script>
        document.getElementById("api-form").addEventListener("submit", function(event) {
            event.preventDefault();
            // the url_for function creates the url to the Flask endpoint
            const fetch_url = {{ url_for("fetch_api")|tojson }};

            // Calls the Flask endpoint to return a json string
            // Then sets the response to that string
            fetch(fetch_url, {
                method: "POST",
                body: new FormData(this)
            })
            .then(response => response.json())
            .then((data) => {
                // formatting the json to be readable
                let formatted = JSON.stringify(data, null, '\t');
                document.getElementById("response").innerHTML = formatted;
            });
        });
    </script>
</body>
</html>